<mat-form-field appearance="outline" class="ai-date-field" color="primary">
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <input
    matInput
    [matDatepicker]="picker"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [name]="name"
    [ngModel]="value"
    (ngModelChange)="value = $event"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker [startView]="startView" [touchUi]="touchUi">
    <mat-datepicker-actions>
      <button mat-button class="dp-footer-btn dp-footer-today" (click)="setToday(picker)">Today</button>
      <button mat-button class="dp-footer-btn dp-footer-clear" (click)="clearDate(picker)">Clear</button>
    </mat-datepicker-actions>
  </mat-datepicker>
</mat-form-field>

